<template>
  <div class="q-pa-md row q-gutter-md justify-center">
    <q-card class="my-card">
      <q-card-section class="seccion-ingreso">
        <div class="text-h5">Ingreso al IAE</div>
      </q-card-section>
      <q-separator />
      <q-form class="q-gutter-md" @submit="onSubmit">
        <q-card-section>
          <q-input v-model="user.login" label="Usuario *" lazy-rules
                   :rules="[ val => val && val.length > 0 || 'Ingrese su correo']" type="login" />
          <q-input v-model="user.password" type="password" label="Contraseña *" lazy-rules
                   :rules="[val => val !== null && val !== '' || 'Ingrese su contraseña']" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn label="Ingresar" type="submit" color="primary" />
        </q-card-actions>
      </q-form>
    </q-card>
  </div>
</template>
<script>
import { ref } from '@vue/composition-api'
// import store from 'src/store'

export default {
  setup (props, ctx) {
    const user = ref({
      login: '',
      password: '',
      saveCredentials: 'false'
    })
    const login = loginData => ctx.root.$store.dispatch('session/login', loginData)
    const logout = () => { ctx.root.$store.dispatch('session/logout') }
    const gotoHomePage = () => {
      ctx.root.$router.push('/')
    }
    const notifyFailure = (error) => {
      console.log('error', error)
      ctx.root.$q.notify({
        color: 'red-4',
        textColor: 'white',
        icon: 'fas fa-check-circle',
        message: error
      })
    }
    const onSubmit = async () => {
      try {
        const loginData = await login(user.value)
        if (loginData.status === 200) gotoHomePage()
        else { notifyFailure(`error status: ${loginData.status}`) }
      } catch (error) {
        if (error.status === 401) notifyFailure(`Revise los datos (401)`)
        else notifyFailure(`error: ${error.status}`)
      }
    }
    return {
      user, login, logout, onSubmit
    }
  }

}
</script>
<style lang="stylus" scoped>
.my-card
  @media (max-width: $breakpoint-xs-max)
    width: 100%
    max-width: 450px
    min-width: 350px
  @media (min-width: $breakpoint-sm-min)
    width: 450px
  font-size: 10px
  .seccion-ingreso
    background-color: $primary
    color: white;
</style>
