<template>
  <div class="q-pa-md row q-gutter-md justify-center">
    <q-card class="my-card">
      <q-card-section class="seccion-ingreso">
        <div class="text-h5">Test</div>
      </q-card-section>
      <q-separator />
      <q-card-section>
        {{ usuarios }}
      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Ingresar" color="primary" @click="test" />
      </q-card-actions>
    </q-card>
  </div>
</template>
<script>
import { ref } from '@vue/composition-api'
// import store from 'src/store'
import Vue from 'vue'
// import { handleAxiosError } from '../helpers'
export default {
  setup (props, { root }) {
    const usuarios = ref([])
    const test = async () => {
      try {
        const resp = await Vue.prototype.$axios.get('/usuarios')
        usuarios.value = resp.data
      } catch (error) {
        // const error = handleAxiosError(_error)
        alert(error.statusMsg)
        if (error.status === 401) root.$router.push('/login')
      }
    }
    return {
      usuarios, test
    }
  }

}
</script>
<style lang="stylus" scoped>
.my-card
  @media (max-width: $breakpoint-xs-max)
    width: 100%
    max-width: 450px
    min-width: 350px
  @media (min-width: $breakpoint-sm-min)
    width: 450px
  font-size: 10px
  .seccion-ingreso
    background-color: $primary
    color: white;
</style>
