<template>
  <div id="q-app">
    <q-ajax-bar size="2px" />
    <router-view />
  </div>
</template>

<script>
// import { soloEnDevMode } from 'src/helpers'
import { onBeforeMount } from '@vue/composition-api'
// import Vue from 'vue'
// import store from 'src/store'

export default {
  name: 'App',
  setup (props, { root }) {
    onBeforeMount(() => {
      const user = root.$store.state.session.user
      if (!user) root.$router.push('/login')
    })
  }
}
</script>
