<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click.stop="left = !left" />
        <q-toolbar-title>
          <q-avatar style="width: 45px; height: 45px">
            <img src="~assets/logo_white.png">
          </q-avatar>
          <div class="col" />
        </q-toolbar-title>

        <q-btn v-if="$route.path !== '/login' && !$store.getters['session/loggedIn']" flat @click="$router.push('/login')">
          <span>Ingreso/Registro</span>
        </q-btn>
        <!-- profile menu , ya ingresó-->
        <q-btn-dropdown v-show="$store.getters['session/loggedIn']" id="profile-btn" ref="profileBtn"
                        icon="person" rounded unelevated :label="$store.getters['session/loggedIn'] ? $store.state.session.user.nombre : 'nada'">
          <q-list style="width: 180px">
            <q-item v-close-popup v-ripple clickable @click="logout">
              <q-item-section side>
                <q-icon name="exit_to_app" />
              </q-item-section>
              <q-item-section>Cerrar Sesión</q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="left" behavior="mobile"
              :width="$q.screen.width < 1250?200:300" :breakpoint="1050" show-if-above side="left"
              elevated>
      <q-scroll-area
        :thumb-style="{
          right: '2px',
          borderRadius: '5px',
          backgroundColor: '#027be3',
          width: '5px',
          opacity: 0.75
        }"
        style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd">
        <q-list bordered separator>
          <q-item v-ripple>
            <q-item-section />
          </q-item>
          <q-item v-ripple>
            <q-item-section>Este es el menú para la app</q-item-section>
          </q-item>
          <q-item v-ripple>
            <q-item-section>
              <q-item-label>del buffet para</q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-ripple>
            <q-item-section>
              <q-item-label>los alumnos</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
      <q-img class="absolute-top" :src="require('assets/logo.png')" style="height: 150px" />
    </q-drawer>
    <q-page-container id="venta-page-container">
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { ref } from '@vue/composition-api'

import store from 'src/store'

export default {
  setup (prop, ctx) {
    const left = ref(false)
    const logout = () => {
      console.log('detalle', new Date())
      store.dispatch('session/logout')
      if (ctx.root.$route.path !== '/login') ctx.root.$router.push('/login')
    }
    return { logout, left }
  }
}
</script>
